@charset "UTF-8";



.contprin {
    max-width: 100%;
    height: 400px;
    margin:auto ;
    padding: 20px;
    background-color: rgb(75, 112, 146);
    border-radius: 8px;
    box-shadow: 0 2px 10px black;
    margin-bottom: 50px;
}

.contapri p {
    text-align: center;
    font-size: 24px;
}

.contapri {
    position: relative;
    top: 100px;
}

.tituloesquad {
    color: rgb(0, 0, 0);
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 35px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.button a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 1s;
}

.button a:hover {
    font-size: 18px;
    transition: 1s;
}

.elemento-button {
    font-weight: bold;
}

/*ESTILO DO CONTEUDO*/

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.cont1 {
    margin: 20px 0px;
}

.image-container {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: -5px;
    list-style: none;
    cursor: pointer;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin: 14px;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.3s;
    width: 260px;
}

.image-container img:hover {
    transform: scale(1.05);
}

.image-container img.zoomed {
    transform: scale(2); /* Aumenta a imagem em 100% quando clicada */
    z-index: 10; /* Coloca a imagem ampliada acima das outras */
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo escuro com opacidade */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    display: flexbox; /* Usando flexbox para centralizar o conteúdo */
}

.modal img {
    height: 80%;
    width: 80%;
    margin-top: 5%;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 100%; /* Limita a largura da imagem no modal */
    max-height: 100%; /* Limita a altura da imagem no modal */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 100px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 100px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.prev {
    left: 10px; /* Posição da flecha esquerda */
}

.next {
    right: 10px; /* Posição da flecha direita */
}

/* ESTILO JANELA */

.modaljan {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo escuro com opacidade */
    display: flexbox; /* Usando flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.modaljan img {
    height: 80%;
    width: 80%;
    margin-top: 5%;
}

.modal-contentja {
    max-width: 80%; /* Limita a largura da imagem no modal */
    max-height: 80%; /* Limita a altura da imagem no modal */
    margin: auto; /* Centraliza a imagem */
}

.closejan {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 100px;
    font-weight: bold;
    cursor: pointer;
}

.prevjan, .nextjan {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    border: none;
    font-size: 100px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.prevjan {
    left: 10px; /* Posição da flecha esquerda */
}

.nextjan {
    right: 10px; /* Posição da flecha direita */
}

/*Esqudrias com Persiana integradas*/

.modalecpi {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo escuro com opacidade */
    display: flexbox; /* Usando flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.modalecpi img {
    height: 80%;
    width: 80%;
    margin-top: 5%;
}

.modal-contentecpi {
    max-width: 80%; /* Limita a largura da imagem no modal */
    max-height: 80%; /* Limita a altura da imagem no modal */
    margin: auto; /* Centraliza a imagem */
}

.closeecpi {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 100px;
    font-weight: bold;
    cursor: pointer;
}

.prevecpi, .nextecpi {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    border: none;
    font-size: 100px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.prevecpi {
    left: 10px; /* Posição da flecha esquerda */
}

.nextecpi {
    right: 10px; /* Posição da flecha direita */
}

/* ESTILO VIDRO */

.modalvidro {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo escuro com opacidade */
    display: flexbox; /* Usando flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}
.modalvidro img {
    height: 80%;
    width: 80%;
    margin-top: 5%;
}

.modal-contentvidro {
    max-width: 80%; /* Limita a largura da imagem no modal */
    max-height: 80%; /* Limita a altura da imagem no modal */
    margin: auto; /* Centraliza a imagem */
}

.closevidro {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 100px;
    font-weight: bold;
    cursor: pointer;
}

.prevvidro, .nextvidro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    border: none;
    font-size: 100px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.prevvidro {
    left: 10px; /* Posição da flecha esquerda */
}

.nextvidro {
    right: 10px; /* Posição da flecha direita */
}

.cont1 p {
    text-align: center;
    font-size: 18px;
}

/* Media Queries para Responsividade */
@media (max-width: 770px) {
    .image-container img {
        width: 100%; /* Largura total em telas menores */
        max-width: 90%; /* Limita a largura máxima */
    }

    .contapri {
        position: relative;
        top: 0;
    }

    .tituloesquad {
        font-size: 28px; /* Tamanho da fonte menor em telas pequenas */
    }

    .button a {
        padding: 8px 16px; /* Ajusta o padding do botão */
    }

    .closevidro {
        font-size: 60px; /* Tamanho menor para o botão de fechar */
    }

    .prevvidro, .nextvidro {
        font-size: 60px; /* Tamanho menor para as setas */
    }
}

@media (max-width: 480px) {

    body {
        width: 100%;
    }

    .tituloesquad {
        font-size: 24px; /* Tamanho da fonte ainda menor em telas muito pequenas */
    }

    .button a {
        padding: 6px 12px; /* Ajusta o padding do botão para telas pequenas */
        font-size: 14px; /* Tamanho da fonte do botão */
    }

    .image-container img {
        width: 100%; /* Largura total em telas muito pequenas */
        max-width: 100%; /* Limita a largura máxima */
    }

    .closevidro {
        font-size: 40px; /* Tamanho ainda menor para o botão de fechar */
    }

    .prevvidro, .nextvidro {
        font-size: 40px; /* Tamanho ainda menor para as setas */
    }
}